{% for tricks in tricksList %}
<div class="col-lg-2 col-md-4 col-sm-6 mb-4 me-2">
    <div class="post-entry-1 h-100">
        <a href="{{ path('app_tricks', {'tricksId': tricks.id}) }}">
            <img src="{{ asset(tricks.image) }}" alt="Image" class="img-tricks">
        </a>
        <div class="post-entry-1-contents d-flex flex-wrap justify-content-between">
            <h5><a href="{{ path('app_tricks', {'tricksId': tricks.id}) }}" >{{ tricks.name }}</a></h5>
            <div>
                {% if is_granted('ROLE_USER') %}
                <a href="{{ path('app_tricks_edit', {'tricksId' : tricks.id}) }}">
                    <i class="fa-solid fa-pencil me-3"></i>
                </a>
                <a role="button" class="delete-tricks-{{ pageNumber }}" data-tricks-id="{{ tricks.id }}" data-toggle="modal" data-target="deleteTricksModal">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}