{% extends 'base.html.twig' %}


{% block body %}
<div class="site-section">
    <div class="container">
        {{ include('_partials/_title.html.twig', {'pageTitle': 'Registration'}) }}

        <div class="row">
            <div class="col-lg-4 ml-auto"></div>
            <div class="col-lg-4 mb-5">
                {{ form_start(formUser) }}
                    <div class="form-group row">
                        <div class="mb-4 mb-3">
                            {{ form_label(formUser.username, 'Username', {'label_attr': {'class': 'w-100 text-center mb-2'}})}}
                            {{ form_widget(formUser.username, {'attr': {'class': "form-control"}})}}
                            <div class="text-danger">
                                {{ form_errors(formUser.username) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12 mb-3">
                            {{ form_label(formUser.email, 'Email', {'label_attr': {'class': 'w-100 text-center mb-2'}})}}
                            {{ form_widget(formUser.email, {'attr': {'class': "form-control"}} )}}
                            <div class="text-danger">
                                {{ form_errors(formUser.email) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12 mb-3">
                            {{ form_label(formUser.password, 'Password', {'label_attr': {'class': 'w-100 text-center mb-2'}})}}
                            {{ form_widget(formUser.password, {'attr': {'class': "form-control"}} )}}
                            <div class="text-danger">
                                {{ form_errors(formUser.password) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12 mb-5">
                            {{ form_label(formUser.photo, 'Photo', {'label_attr': {'class': 'w-100 text-center mb-2'}})}}
                            {{ form_widget(formUser.photo )}}
                            <div class="text-danger">
                                {{ form_errors(formUser.photo) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12 mr-auto d-flex justify-content-center">
                            <input type="submit" class="btn btn-block btn-primary text-white py-3 px-5"
                                value="Create an account">
                        </div>
                    </div>
                {{ form_end(formUser) }}
            </div>
            <div class="col-lg-4 ml-auto"></div>
        </div>
    </div>
</div>
{% endblock %}