{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<!-- Hero -->
<div class="ftco-blocks-cover-1">
    <div class="site-section-cover overlay" style="background-image: url('{{ asset(tricks.image) }}')">
        <div class="container">
            <div class="row catch-phrase">
                <div class="col-md-5">
                    <h1 class="mb-3 text-white">{{ tricks.name }}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End hero -->

<div class="site-section">
    <div class="container">
        <div class="row">
            <!-- Tricks author, creation and modification date -->
            <div class="col-md-6 fst-italic">
                <div>Créé le {{ tricks.creationDate.format('d/m/Y') }} par {{ tricks.user.username }}</div>
                <div>Catégorie : {{ tricks.tricksGroup.name }}</div>
                    {% if tricks.modificationDate != null %}
                        <div>Modifié le {{ tricks.modificationDate.format('d/m/Y') }}</div>
                    {% endif %}
            </div>
            <!-- End of Tricks author, creation and modification date -->
        </div>
        <div class="row mt-3 pt-5">
            <!-- Tricks description -->
            <div class="col-md-6">
                <p>{{ tricks.description }}</p>
            </div>
            <!-- End of tricks description -->

            <div class="col-md-6">
                <!-- Caroussel -->
                <div id="carouselExampleIndicators" class="carousel slide carousel-container rounded" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% if medias | length> 0 %}
                            {% set isFirstMedia = true %}
                            {% for media in medias %}
                                {% if media.type == "image" %}
                                    <div class="carousel-item {% if isFirstMedia %} active{% endif %}">
                                        <img src="{{ asset(media.path) }}" class="d-block w-100" alt="...">
                                    </div>
                                    {% set isFirstMedia = false %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% if media.type == "image" %}
                                <div class="carousel-item active">
                                    <img src="{{ asset(tricks.image) }}" class="d-block w-100" alt="...">
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <!-- Medias videos -->
                <div class="row flex-wrap mt-5">
                    {% for media in medias %}
                        {% if media.type == "video"%}
                            <div class="col-6 mb-3">
                                <iframe class="rounded" width="100%" height="100%" src="{{ media.path }}"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen>
                                </iframe>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- End of Medias videos -->
            </div>
            
        </div>
        <div class="row">
            <div class="d-flex">
                <textarea name="" id="" rows="5"></textarea>
            </div>
        </div>
    </div>
</div>
{% endblock %}