{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block importmap %}{{ importmap(['app', 'tricks']) }}{% endblock %}

{% block body %}
<form method="post" action="{{ path('app_tricks_edit', {'tricksId': formTricks.vars.value.id }) }}" enctype="multipart/form-data" id="formTricks">
    {{ form_widget(formTricks._token) }}
    {{ form_widget(formTricks.user) }}
    {{ form_widget(formTricks.id) }}
    <!-- Hero -->
    <div class="ftco-blocks-cover-1">
        <div class="site-section-cover overlay" style="background-image: url('{{ asset(formTricks.vars.value.image) }}')" id="hero">
            <div class="tricks-edit-buttons-hero d-flex justify-content-end">
                <div class="edit-icons shadow d-flex justify-content-evenly">
                    <label for="tricks_form_image" role="button">
                        <i class="fa-solid fa-pencil me-4 edit-icons-color"></i>
                    </label>
                    {{ form_widget(formTricks.image )}}
                    <div type="button" class="delete-hero-image" data-message="Confirmez-vous la suppression de l'image ?">
                        <i class="fa-solid fa-trash-can edit-icons-color"></i>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row catch-phrase">
                    <div class="col-md-5">
                        <h1 class="mb-3 text-white">{{ formTricks.vars.value.name }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End hero -->

    <!-- Images and videos list -->
    <section>
        <div class="container-fluid">
            <div class="d-flex justify-content-center my-3 d-md-none position-relative z-index-3">
                <a class="btn btn-block btn-primary text-white py-3 px-5" id="seeMediasButton">
                    See medias
                </a>
            </div>
            
            <div class="row justify-content-evenly mt-4 d-none d-md-flex" id="mediaList">
                {% for media in formTricks.medias %}
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4 me-2 d-flex flex-column media-row" id="media{{ media.vars.value.id }}">
                    {{ form_widget(media.id )}}
                    {{ form_widget(media.type )}}
                    {{ form_widget(media.tricks )}}
                    <div class="media">
                        {% if media.vars.value.type == "image" %}
                        <img src="{{ asset(media.vars.value.path) }}" alt="">
                        {% elseif media.vars.value.type == "video" %}
                        <video src="{{ asset(media.vars.value.path) }}" controls>
                            <source src="{{ asset(media.vars.value.path) }}" type="video/mp4">
                        </video>
                        {% endif %}
                    </div>
                    <div class="edit-buttons-container">
                        <div class="w-100 d-flex justify-content-end">
                            <div class="edit-icons-media d-flex justify-content-evenly">
                                <label for="{{ media.path.vars.id }}" role="button">
                                    <i class="fa-solid fa-pencil me-4 edit-icons-color"></i>
                                </label>
                                {{ form_widget(media.path, {'attr': {'class': 'd-none'}}) }}
                                <div type="button"  class="delete-media" data-media="{{ media.vars.value.id }}" data-message="Confirmez-vous la suppression du media ?">
                                    <i class="fa-solid fa-trash-can edit-icons-color"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Add medias -->
    <section>
        <div class="container-fluid my-4">
            <div class="row ms-3">
                <div>
                    <ul class="medias"
                    data-index="{{ formTricks.medias|length > 0 ? formTricks.medias|last.vars.name + 1 : 0 }}"
                    data-prototype="
                        {{ form_widget(formTricks.medias.vars.prototype.path)|e('html_attr') }}
                        {{ form_widget(formTricks.medias.vars.prototype.type)|e('html_attr') }}
                        {{ form_widget(formTricks.medias.vars.prototype.id)|e('html_attr') }}
                    "
                ></ul>
                    <button type="button" class="add_item_link" data-collection-holder-class="medias">Add a media</button>
                </div>
            </div>
        </div>
    </section>
    <!-- End add medias -->

    <!-- Tricks description -->
    <section>
        <div class="container-fluid my-4">
            <div class="row">
                <div class="col-md-2 col-sm-1 col-0"></div>
                <div class="col-md-8 col-sm-10 col-12">
                    <div>
                        {{ form_widget(formTricks.name, {'attr': {'class': "form-control", 'placeholder': "Titre"}} )}}
                    </div>
                    <div class="my-4">
                        {{ form_widget(formTricks.description, {'attr': {'class': "form-control tricks-description", 
                    'placeholder': "Description"}} )}}
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-8">
                            <div class="input-group mb-3">
                                {{ form_label(formTricks.tricks_group) }}
                                {{ form_widget(formTricks.tricks_group) }}
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-lg-end justify-content-center">
                        <div type="button" id="deleteTricks" data-message="Confirmez-vous la suppression du tricks ?" class="delete-tricks btn btn-block btn-primary text-white py-3 px-5 me-3 deleteButton">
                            Delete
                        </div>
                        <button type="submit" class="btn btn-block btn-primary text-white py-3 px-5">Save</button>
                    </div>
                </div>
                <div class="col-md-2 col-sm-1 col-0">
                    
                </div>
            </div>           
        </div>
    </section>
    <!-- End tricks description -->

    <!-- User Modifications -->
    <section id="modifications">
        {{ form_widget(formTricks.isHeroImageDeleted) }}
    </section>
</form>
{% endblock %}