{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block importmap %}{{ importmap(['app', 'tricks']) }}{% endblock %}

{% block body %}
<form method="post" enctype="multipart/form-data" action="">
    <!-- Hero -->
    <div class="ftco-blocks-cover-1">
        <div class="site-section-cover overlay" style="background-image: url('{{ asset(tricks.image) }}')" id="hero">
            <div class="container">
                <div class="tricks-edit-buttons-hero d-flex justify-content-end">
                    <div class="edit-icons shadow d-flex justify-content-evenly">
                        <label for="imagePath" role="button">
                            <i class="fa-solid fa-pencil me-4 edit-icons-color"></i>
                        </label>
                        <input type="file" accept=".png, .jpeg, .jpg, .svg" class="form-control d-none" name="imagePath" id="imagePath" value="{{ asset(tricks.image) }}">
                        <a href="" type="button" data-bs-toggle="modal" id="deleteHeroImageButton" data-bs-target="#staticBackdrop" data-function="deleteHeroImage">
                            <i class="fa-solid fa-trash-can edit-icons-color"></i>
                        </a>
                    </div>
                </div>
                <div class="row catch-phrase">
                    <div class="col-md-5">
                        <h1 class="mb-3 text-white">{{ tricks.name }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End hero -->


    <input type="hidden" id="InputHeroBackgroundImage" value="'{{ asset(tricks.image) }}'">
</form>
{% endblock %}