{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block importmap %}{{ importmap(['app', 'tricks']) }}{% endblock %}

{% block body %}
<form method="post" action="{{ path('app_tricks_edit', {'tricksId': formTricks.vars.value.id }) }}"
    enctype="multipart/form-data" id="formTricks">
    {{ form_widget(formTricks._token) }}
    {{ form_widget(formTricks.user) }}
    {{ form_widget(formTricks.id) }}
    <!-- Hero -->
    <div class="ftco-blocks-cover-1">
        <div class="site-section-cover overlay"
            style="background-image: url('{{ asset(formTricks.vars.value.image) }}')" id="hero">
            <div class="tricks-edit-buttons-hero d-flex justify-content-end">
                <div class="edit-icons shadow d-flex justify-content-evenly">
                    <label for="tricks_form_image" role="button">
                        <i class="fa-solid fa-pencil me-4 edit-icons-color"></i>
                    </label>
                    {{ form_widget(formTricks.image )}}
                    <div type="button" class="delete-hero-image"
                        data-message="Confirmez-vous la suppression de l'image ?">
                        <i class="fa-solid fa-trash-can edit-icons-color"></i>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row catch-phrase">
                    <div class="col-md-5">
                        <h1 class="mb-3 text-white">{{ formTricks.vars.value.name }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End hero -->

    <!-- Images and videos list -->
    <section>
        <div class="container-fluid">
            <div class="d-flex justify-content-center my-3 d-md-none position-relative z-index-3">
                <a class="btn btn-block btn-primary text-white py-3 px-5" id="seeMediasButton">
                    See medias
                </a>
            </div>

            <div class="row justify-content-evenly mt-4 d-none d-md-flex" id="mediaList">
                {% for media in formTricks.medias %}
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4 me-2 d-flex flex-column media-row"
                    id="media{{ media.vars.value.id }}">
                    {{ form_widget(media.id )}}
                    {{ form_widget(media.type )}}
                    {{ form_widget(media.tricks )}}
                    <div class="media" id="media-{{ media.path.vars.id }}">
                        {% if media.vars.value.type == "image" %}
                        <img src="{{ asset(media.vars.value.path) }}" id="image-{{ media.path.vars.id }}" class="media-image" 
                        data-image-fullscreen = "fullscreen-img-{{ media.path.vars.id }}" alt="">
                        {% elseif media.vars.value.type == "video" %}
                        <iframe width="100%" height="100%" src="{{ media.vars.value.path }}"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen>
                        </iframe>
                        {% endif %}
                    </div>
                    <div class="fullscreen-image" id="fullscreen-img-{{ media.path.vars.id }}">
                        <img src="{{ asset(media.vars.value.path) }}">
                    </div>
                    <div class="edit-buttons-container">
                        <div class="w-100 d-flex justify-content-end">
                            <div class="edit-icons-media d-flex justify-content-evenly">
                                <label role="button" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop{{ media.path.vars.id }}">
                                    <i class="fa-solid fa-pencil me-4 edit-icons-color"></i>
                                </label>
                                <div type="button" class="delete-media" data-media="{{ media.vars.value.id }}"
                                    data-message="Confirmez-vous la suppression du media ?">
                                    <i class="fa-solid fa-trash-can edit-icons-color"></i>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="staticBackdrop{{ media.path.vars.id }}"
                                    data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                    aria-labelledby="staticBackdropLabel{{ media.path.vars.id }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title"
                                                    id="staticBackdropLabel{{ media.path.vars.id }}">Add Media</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="mb-3">
                                                    <div class="form-check">
                                                        <input class="form-check-input radio-image" type="radio" name="flexRadio{{ media.path.vars.id }}" id="flexRadioImage{{ media.path.vars.id }}" 
                                                        data-video-element="add-video-{{ media.path.vars.id }}" data-image-element="add-image-{{ media.path.vars.id }}" checked>
                                                        <label class="form-check-label" value="image" for="flexRadioImage{{ media.path.vars.id }}">
                                                            Image
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input radio-video" type="radio" name="flexRadio{{ media.path.vars.id }}" id="flexRadioVideo{{ media.path.vars.id }}" 
                                                        data-video-element="add-video-{{ media.path.vars.id }}" data-image-element="add-image-{{ media.path.vars.id }}">
                                                        <label class="form-check-label" value="video" for="flexRadioVideo{{ media.path.vars.id }}">
                                                            Video
                                                        </label>
                                                    </div>
                                                </div>
                                                
                                                <div class="d-flex flex-column">
                                                    <div class="mb-3" id="add-image-{{ media.path.vars.id }}">
                                                        <label for="{{ media.path.vars.id }}" role="button">
                                                            Select an image file
                                                        </label>
                                                        {{ form_widget(media.path, {'attr': {'class': 'edit-media d-none'}})
                                                        }}
                                                        <div id="showImagePath{{ media.path.vars.id }}"></div>
                                                    </div>
                                                    <div class="input-group mb-3 d-none" id="add-video-{{ media.path.vars.id }}">
                                                        {{ form_label(media.link) }}
                                                        {{ form_widget(media.link, {'attr': {'class': 'edit-media
                                                        w-100'}}) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary btn-validate-edit-media" data-bs-dismiss="modal" data-add-video-element="add-video-{{ media.path.vars.id }}" 
                                                data-add-image-element="add-image-{{ media.path.vars.id }}" data-media-id="media-{{ media.path.vars.id }}"
                                                data-image-element="image-{{ media.path.vars.id }}" data-video-element="video-{{ media.path.vars.id }}" 
                                                data-type-element="{{ media.type.vars.id }}">Validate</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Add medias -->
    <section>
        <div class="container-fluid my-4">
            <div class="row ms-3">
                <div class="col-md-8 col-12">
                    <ul class="medias list-group mb-3"
                        data-index="{{ formTricks.medias|length > 0 ? formTricks.medias|last.vars.name + 1 : 0 }}"
                        data-prototype="
                            {{ form_widget(formTricks.medias.vars.prototype.path)|e('html_attr') }}
                            {{ form_widget(formTricks.medias.vars.prototype.link)|e('html_attr') }}
                            {{ form_widget(formTricks.medias.vars.prototype.type)|e('html_attr') }}
                            {{ form_widget(formTricks.medias.vars.prototype.id)|e('html_attr') }}
                    "></ul>
                    <button type="button" class="add_item_link btn btn-block btn-primary text-white py-3 px-5" data-collection-holder-class="medias">Add a
                        media</button>
                </div>
            </div>
        </div>
    </section>
    <!-- End add medias -->

    <!-- Tricks description -->
    <section>
        <div class="container-fluid my-4">
            <div class="row">
                <div class="col-md-2 col-sm-1 col-0"></div>
                <div class="col-md-8 col-sm-10 col-12">
                    <div>
                        {{ form_widget(formTricks.name, {'attr': {'class': "form-control", 'placeholder': "Titre"}} )}}
                    </div>
                    <div class="my-4">
                        {{ form_widget(formTricks.description, {'attr': {'class': "form-control tricks-description",
                        'placeholder': "Description"}} )}}
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-8">
                            <div class="input-group mb-3">
                                {{ form_label(formTricks.tricks_group) }}
                                {{ form_widget(formTricks.tricks_group) }}
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-lg-end justify-content-center">
                        <div type="button" id="deleteTricks" data-message="Confirmez-vous la suppression du tricks ?"
                            class="delete-tricks btn btn-block btn-primary text-white py-3 px-5 me-3 deleteButton">
                            Delete
                        </div>
                        <button type="submit" class="btn btn-block btn-primary text-white py-3 px-5">Save</button>
                    </div>
                </div>
                <div class="col-md-2 col-sm-1 col-0">

                </div>
            </div>
        </div>
    </section>
    <!-- End tricks description -->

    <!-- User Modifications -->
    <section id="modifications">
        {{ form_widget(formTricks.isHeroImageDeleted) }}
    </section>

</form>
{% endblock %}